%h1 Welcome to Shorten Me!
%hr

.container
  .jumbotron
    .col-md-12
      %p Shorten Me! couldn't find a link for the URL you clicked.
      %p Most Shorten Me! links are 7 characters, only include letters and numbers and are case sensitive.
